@import url('https://fonts.googleapis.com/css2?family=Lora&family=Spectral:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #00da8b;
    font-family: Spectral, sans-serif;
    color: #535959;
}

/*---------------------------------------------------- Colours ------*/
.menu,
.logo{
    background-color: #000;
}


/*---------------------------------------------------- Header ------*/

.logo h2{
    font-family:  Lora, Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
}

.logo i{
    font-size: 100%;
}

.logo a{
    text-decoration: none;
}

.menu{
    margin-right: 10px;
    }

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style-type: none;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#nav li{
margin-right: 10px;
}

#nav a{
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

#nav a:hover{
    border-bottom: 1px solid #000;
}

.list-inline-item:not(:last-child){
margin: 0;
}

